#banner2 {
    margin-bottom: 20px;
  }
#banner2 img {
    border-radius: 20px;
    
  }
.products {
  list-style-type:none;
}
.price {
  font-weight: bold;
  color: #515457!important;
  padding-bottom:10px;
  font-size: 18px;
}
.btn-custom {
  display: inline-block;
  padding: 7px;
  border-radius: 20px;
  width: 100%;
  text-align: center;
  color: #fff ;
  background-color: #494949 ;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 16px;
  text-decoration: none;
}
.btn-favorite {
  display: inline-block;
  padding: 7px;
  border: 1px solid rgb(173, 0, 0);
  border-radius: 20px;
  width: 100%;
  text-align: center;
  color: rgb(173, 0, 0) ;
  background-color: #fff ;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}
.btn-favorite:hover {
  color: #fff;
  background-color: rgb(190, 75, 75);
}
.btn-admin {
  display: inline-block;
  padding: 7px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  color: #fff ;
  background-color: #494949 ;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 16px;
  text-decoration: none;
}
.btn-admin:hover, .btn-custom:hover {
  color: #fff ;
  background-color:#797979;
}
h5{ 
  height:48px;
}
.checked {
  color: orange;
} 