#banner2 {
    margin-bottom: 20px;
  }
#banner2 img {
    border-radius: 20px;
    
  }
.products {
  list-style-type:none;
}
.products-item {
  display: block;
  float: left;
}
.price {
  font-weight: bold;
}
.card .btn-custom {

  padding: 10px;
  border-radius: 20px;
  width: 60%;
  text-align: center;
  color: #fff;
  background-color: #1298c8 !important;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 16px;
  text-decoration: none;
}
.btn-custom:hover {
  color: #fff;
  background-color: #1298c8;
}